body{
    background-color: rgba(233, 230, 186, 0.952);
}

#section1{
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 3px;
    padding: 10px;
    border-radius: 5px;
}

nav a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.678);
    font-weight: bold;
    align-items: center;
}

nav .aTag a{
    font-size: x-large;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

nav a:hover{
    background-color: rgba(255, 255, 255, 0.445);
    padding: 5px;
    transition: 0.1s ease-in;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-weight: bolder;
}

#contactBtn:hover{
    box-shadow: 0 0 20px black;
}

#email{
    font-weight: bold;
}

#email:hover{
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 2px;
}